body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1013px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1013px;
  height:760px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1013px;
  height:760px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:705px;
  width:60px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u92 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:705px;
  width:60px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u93 {
  position:absolute;
  left:127px;
  top:298px;
}
#u93_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
  background-image:none;
}
#u93_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
  visibility:hidden;
  background-image:none;
}
#u93_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:257px;
  top:298px;
}
#u96_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
  background-image:none;
}
#u96_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
  visibility:hidden;
  background-image:none;
}
#u96_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
  background-image:none;
}
#u96_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u99 {
  position:absolute;
  left:386px;
  top:298px;
}
#u99_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
  background-image:none;
}
#u99_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
  visibility:hidden;
  background-image:none;
}
#u99_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:114px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:705px;
  width:85px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
