body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1013px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1013px;
  height:760px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1013px;
  height:760px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:705px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u38 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:705px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u39 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:705px;
  width:56px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
